{% extends "base.html" %}
{% load static %}

{% block title%}
  Knowledge
{% endblock %}

{% block content %}
<!--link web -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--css -->
<link rel="stylesheet" href="{% static 'Css/kemail.css' %}">


<!--web-->
<div class="container">
    <div class="well"> 
        <div class="row">
             <div class="col-md-12">
                 
                     
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src="{% static 'images/featured.jpg' %}" /></div>
                 <div class="">
                     <h1  class="hidden-xs hidden-sm">7 วิธีช่วยให้เรียนภาษาอังกฤษที่บ้านได้อย่างมี<br>ประสิทธิภาพ</h1>
                     
                     <p class="text-justify">ภาษาอังกฤษเป็นภาษาที่เราใช้กันทั่วโลก และในปัจจุบันสามารถเรียนรู้ได้ง่าย ๆ ทุกที่ทุกเวลา โดยเฉพาะที่บ้าน ดังนั้นจะขอนำเสนอวิธีที่จะช่วยคุณเรียนภาษาอังกฤษที่บ้านได้อย่างมีประสิทธิภาพ ดังนี้

<br><br>
                 
               1. <b>หาคู่หูคู่เรียน</b>
การเรียนภาษาอังกฤษด้วยตนเองที่บ้าน จะสนุกและเกิดผลเร็วหากมีเพื่อนหรือคู่หูที่มีเป้าหมายเดียวกันมาคอยช่วยเหลือและคอยแชร์ความรู้กัน มันต้องเป็นประสบการณ์ที่ดีมากแน่ ๆ



<br><br>
                 
               2. <b>ใช้ตัวช่วยในการเรียน</b>
ใช้เครื่องมือสำหรับการเรียนภาษาอังกฤษ เช่น คอร์สเรียนภาษาอังกฤษออนไลน์ วิดีโอและไฟล์เสียงจากเจ้าของภาษาเพื่อเรียนรู้ ซึมซับสำเนียง นอกจากนั้นถ้าต้องการที่จะเรียนไปด้วย ไม่เครียดด้วยต้องเรียนรู้จากการอ่านบทความภาษาอังกฤษหรือข่าวในหัวข้อที่เราสนใจ รวมไปถึงการดูรายการโชว์หรือภาพยนตร์ภาษาอังกฤษ สิ่งเหล่านี้จะเป็นตัวช่วยในการเรียนที่มีประสิทธิภาพมากยิ่งขึ้น



<br><br>
                 
                 3. <b>เรียนรู้วัฒนธรรมเขาสักหน่อย</b>
เรียนรู้เกี่ยวกับวัฒนธรรมต่าง ๆ ของประเทศเจ้าของภาษาสักหน่อย เพื่อที่เวลาอ่านหรือฟังจะได้ไม่มีข้อสงสัย บางทีอาจจะมีคำพูดที่เฉพาะเจาะจงสำหรับวัฒนธรรมของเขาเอง ถ้าเราไม่มีความรู้เลยอาจจะทำให้การฝึกฝนนั้นไม่ราบรื่นเท่าที่ควร


 <br><br>
                4.  <b>อ่านหนังสือภาษาอังกฤษ</b>
เวลาได้พักผ่อนอยู่บ้าน บางคนชอบอ่านหนังสือเพลิน ๆ เวลานี้เราก็สามารถเรียนภาษาอังกฤษได้เช่นกัน เพียงแค่เปลี่ยนหนังสือภาษาไทยที่เรามีอยู่ เป็นการอ่านหนังสือภาษาอังกฤษแทน ในส่วนนี้เราจะได้ทั้งคำศัพท์ รูปประโยค รวมไปถึงการใช้งานในสถานการณ์ต่าง ๆ อีกด้วย


 <br><br>
                5.  <b>คุยกับตัวเองในกระจก</b>
การคุยกับตัวเองในกระจกนั้น เป็นการฝึกฝนอย่างหนึ่งที่จะทำให้เราสามารถรู้ข้อผิดพลาดของตัวเองได้ ไม่ว่าจะเป็นการการดูรูปปาก หรือตำแหน่งของลิ้นเวลาพูด นอกจากนั้นจะเป็นการช่วยสร้างความมั่นในให้ตัวเองด้วยหากฝึกพูดหน้ากระจกบ่อย ๆ


 <br><br>
                6.  <b>ตั้งเป้าหมายและทำตามให้ได้</b>
การเรียนภาษาอังกฤษนั้นต้องใช้ความพยายามพอสมควร ดังนั้นควรมีการตั้งเป้าหมาย โดยอาจจะเป็นเป้าหมายเล็ก ๆ สะสมไปเรื่อย ๆ เช่นวันนี้ต้องท่องคำศัพท์ให้ได้ 15 คำ เมื่อเป้าหมายนี้สำเร็จ ก็ตั้งเป้าหมายต่ออาจจะพรุ่งนี้ท่องเพิ่มอีก 15 คำ สะสมแบบนี้ไปเรื่อย ๆ เมื่อเราทำได้ก็จะมีกำลังใจทำต่อ ๆ ไป จนสุดท้ายทำให้เราเก่งขึ้นไปเอง



 <br><br>
                7.  <b>Enjoy ไม่ต้องเครียด</b>
เวลาเราเรียนภาษาอังกฤษบางทีอาจจะต้องใช้เวลาพอสมควร หากทำไม่ได้สักทีก็อย่าไปเครียดกับมัน ต้องพยายามหาความสุขจากการเรียนภาษาอังกฤษนี้ให้ได้ พยายามปรับวิธีการเรียนให้เป็นแบบที่เราชอบ คิดว่าพอทำแล้วแล้วเรามีความสุข ดังเช่นคำแนะนำในข้อต้น ๆ อาจจะเป็นการดูหนังที่ชอบ หาเพื่อนที่รู้ใน หาเพื่อนใหม่ ๆ จากโลกออนไลน์ ช่วยการฝึกช่วยกันแก้ไข รับรองสุดท้ายเกิดผลดีอย่างแน่นอน
 

 <br><br>
              

         </p></div>
             </div>
        </div>
    </div>
</div>




{% endblock %}