{% extends "base.html" %}
{% load static %}

{% block title%}
  Knowledge
{% endblock %}

{% block content %}
<!--link web -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--css -->
<link rel="stylesheet" href="{% static 'Css/kemail.css' %}">


<!--web-->
<div class="container">
    <div class="well"> 
        <div class="row">
             <div class="col-md-12">
                 
                     
                 <div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src="{% static 'images/seeyou.jpg' %}" /></div>
                 <div class="">
                     <h1  class="hidden-xs hidden-sm">‘ไปก่อนนะ’ พูดเป็นภาษาอังกฤษอย่างไร<br>ให้ฝรั่งเข้าใจ
</h1>
                     
                     <p class="text-justify">ไปก่อนนะ” เป็นหนึ่งคำที่เราใช้พูดกันบ่อย ๆ ในภาษาไทยเราใช้คำนี้กันในหลายสถานการณ์ แล้วถ้าอยากจะพูดคำนี้เป็นภาษาอังกฤษล่ะ จะพูดว่าอย่างไรดี ในภาษาอังกฤษจะไม่มีคำว่า “ไปก่อนนะ” โดยตรง การเลือกคำมาใช้พูดว่า “ไปก่อนนะ” ในภาษาอังกฤษจึงขึ้นอยู่กับสถานการณ์นั้น ๆ เป็นหลัก เช่น<br><br>
                 
               <b>ใช้ในการบอกลา </b>อย่างเช่น เมื่อถึงเวลาเลิกงาน เรากำลังจะกลับบ้าน ก็จะพูดว่ากับเพื่อนร่วมงานว่า “ไปก่อนนะเธอ” ซึ่งในภาษาอังกฤษเราจะพูดลาว่า See you , See you later , See you tomorrow แปลตรงตัวว่า แล้วเจอกันใหม่ แล้วเจอกันพรุ่งนี้ 

<br><br>
                 
               <b>ใช้พูดเวลาต้องขอตัวไปทำอย่างอื่น</b>
อย่างเช่น ภายหลังจากกินข้าวกับเพื่อนเสร็จ เรามีธุระต้องไปต่อ ถึงเวลาต้องไปแล้ว ต้องขอตัวแล้วล่ะ เราสามารถพูดว่า<br>

I must go.<br>
I have to go now.<br>
I‘ve got to go now.<br>
I’ d better go.<br>ประโยคทั้งหมดข้างต้นแปลตามตัวคือ ฉันต้องไปแล้วล่ะ ก็คือ “ไปก่อนนะ” หรือหลังจากที่คุยกันจนไม่รู้จะคุยอะไรแล้วหรือพูดง่าย ๆ ก็คือเราอยากปลีกตัวไปแล้วล่ะ เราสามารถพูดกับคู่สนทนาได้ว่า “I'll go then.” แปลว่า งั้นฉันไปก่อนนะ

    
               <br><br><b> นอกจากนี้</b> ฝรั่งเค้ายังมีคำว่า “I’m off.”ใช้เวลาพูดกับเพื่อนหรือคนสนิทเพื่อบอกว่าไปไหน ไปทำอะไร เช่น<br>
I’m off to work.  (ฉันไปทำงานก่อนนะ)<br>
I’m off to school.(ฉันไปโรงเรียนก่อนนะ)<br>
I’m off to sleep.(ฉันไปนอนก่อนนะ)<br>
 <br><br>
              <b>  ใช้พูดในเวลาให้ทำอะไรไปก่อนได้เลย</b> อย่างเช่นเธอไปก่อน เดี๋ยวฉันตามไปกรณีอย่างนี้เราสามารถใช้คำว่า  “Go ahead” หรือ “Move on” เช่น



 <br>
                 
              You go ahead and buy some food.(คุณไปซื้ออาหารก่อนเลย)<br>
Go ahead I will go later.ไปก่อนเลย (ไปก่อนเลย เดี๋ยวฉันค่อยไปทีหลัง)<br>
You move on, I will catch up in a few minutes.(เธอไปก่อนเลย เดี๋ยวอีก 2-3 นาทีตามไป)<br>

 </p></div>
             </div>
        </div>
    </div>
</div>


{% endblock %}